In [3]:
# QUESTION NO 1.
a=('Twinkle,Twinkle, Little, Star,\n\t How i wonder what you are!\n\t\t up above the world high,\n\t\t Like a diamond in the sky.\nTwinkle,Twinkle, Little, Star,\n\t How i wonder what yuo are');
print(a);

Twinkle,Twinkle, Little, Star,
	 How i wonder what you are!
		 up above the world high,
		 Like a diamond in the sky.
Twinkle,Twinkle, Little, Star,
	 How i wonder what yuo are

In [6]:
# QUESTION NO 2.
import platform
print(platform.python_version())

3.8.8

In [11]:
# QUESTION NO 3.
from datetime import date
today=date.today()
print("today date is:",today)

today date is: 2021-10-23

In [15]:
# QUESTION NO 4.
radius=float(input("enterb radius of a circle "))
area=(22/7 *(radius*radius))
print(area)

enterb radius of a circle 4.2
55.44

In [16]:
# QUESTION NO 5.
first_name=input("enter first name ")
second_name=input("enter second name")
full_name=first_name+" "+second_name
print(full_name[::-1])

enter first name aitezaz
enter second namekhan
nahk zazetia

In [20]:
# QUESTION NO 7.
maths =85
English=71
islamiat =75
physics=88
biology=70


Total_marks =500;

obtain_marks =  maths + English + islamiat + physics + biology
percentage=(obtain_marks*100/500)

print(obtain_marks)
print(percentage)

if (obtain_marks <500 and obtain_marks >= 420):
    print(" you are Outstanding")
     
elif (obtain_marks <420 and obtain_marks >= 360):
        print(" you are Excellent")
        
elif (obtain_marks <360 and obtain_marks>= 300):
        print(" you are Very good")
        
elif (obtain_marks <300 and obtain_marks >= 250):
        print(" you are Very good")
                
else:
      print(" you are Elligible")

389
77.8
 you are Excellent

In [1]:
# QUESTION NO 6.
A=int(input("Enter your first input"));
B=int(input("Enter your seconed input"));
print(A + B)

Enter your first input6
Enter your seconed input6
12

In [2]:
# QUESTION NO 8.
num=int(input("Enter any number"));
if(num%2==0):
    
    print("even");
else:
    print("odd");

Enter any number66
even

In [3]:
# QUESTION NO 9.
a=[2,4,5,'a',4,"a"]
b=len(a)
print(b)

6

In [4]:
# QUESTION NO 11.
a=[2,4,5,66,6,17,88,3,0]
maximum=max(a)
print(maximum)

88

In [5]:
# QUESTION NO 12.
s=[92,4,8,7,1,2,5,7,0,0.1];
for i in s:
    if(i<5):
        print(i);

4
1
2
0
0.1

In [16]:
# QUESTION NO 10.
list=[1,2,"a","b",4,"m"]
       for i in list:
         iftype(i)==int:
                   print(i)

IndentationError: unexpected indent (<ipython-input-16-8ddacf6d4689>, line 3)