1
0
-1
1
2
3
4
2

In [2]:
s=[9,8,7,1,2,5,7,0,0.1];
for i in s:
    if(i<5):
        print(i);

1
2
0
0.1

In [4]:
s=[9,8,7,1,2,5,7,0,0.1];
for i in s:
    if(i<5):
        print(i);

1
2
5
0
0.1

In [12]:
print('Twinkle,Twinkle, Little, Star,\n\n\t How i wonder what you are!\n\t\t up above the world high,\n\t\t Like a diamond in the sky.\nTwinkle,Twinkle, Little, Star,\n\t How i wonder what yuo are');
#print(a);

Twinkle,Twinkle, Little, Star,

	 How i wonder what you are!
		 up above the world high,
		 Like a diamond in the sky.
Twinkle,Twinkle, Little, Star,
	 How i wonder what yuo are

In [15]:
r=int(input("Enter a radius of a circle"));
A=((22/7)*(r*r));
print(A);

Enter a radius of a circle4
50.285714285714285

In [18]:
r=float(input("Enter a radius of a circle"));
A=float((22/7)*(r*r));
print(A);

Enter a radius of a circle4.5
63.64285714285714

In [ ]:
A=input("Enter your first name");
B=input("Enter your seconed name");
last=A + B;
last.reverse()
print(last);
#print(last[0:-2]);

In [ ]:
A=input("Enter your first name");
B=input("Enter your seconed name");
last=A + B;
last.reverse()
print(last);